.navbar{
    ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0 ;
        gap:5rem;
        li{
            margin-top:3rem;
           
            a{
                text-decoration: none;
                color: #A12323;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
                transition: font-size 0.3s ease;
            }
            a:hover{
                font-size: 24px;
            }
        }
    }
}
.navbar{
  font-family: "inknut-antiqua", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 2;
  position: absolute;
  justify-content: center;
  width: 100vw;
  }

  @media (max-width: 768px){
.navbar{ul{
    li{
    a{
        font-size: 16px;
    }
    a:hover{
        font-size: 18px;
   }
  }
}
}
}